#relatywne {
    /* pozwala przesunąć wybrany element w dowolną stronę względem jego położenia spoczynkowego */
            left: 100px;
            top:500px;
            position:relative;
            padding:15px;
            background-color:red;
            }
    
    
#statyczne {
    /* przywraca normalne pozycjonowanie elementu */
            position:static;	    
            padding:15px;
            background-color:pink;
            }
    
#absolutne {
    /* pozwala przesunąć wybrany element w dowolną stronę względem wybranych brzegów strony */
            right: 200px;
            position:absolute;
            padding:15px;
            background-color:orange;
            }
#ustalone {
    /* działa podobnie jak absolutne, element jest przesuwany razem ze stroną */
            right: 300px;
            top: 300px;
            position:fixed;
            padding:15px;
            background-color:green;
            }